<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if title %}
  <title>Zoro - {{title}} </title>
  {% else %}
  <title>Zoro</title>
  {% endif %}

  <!-- ? Link Acceuil -->
  <link rel="stylesheet" href="../static/style.css" />


</head>

<body>
  <div class="center">
    {% include './partials/navbar.html' %}

    <div class="main-main">
      <!-- ? Sidebar -->
      {% include './partials/sidebar.html' %}
      <!-- ? Mini-main -->
      <div class="mini-main">{% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash-messages flash_message_flask">
          {% for message in messages %}
          <h3 id="flash-message">{{ message }}</h3>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% endblock %}
      </div>
    </div>
  </div>
  <!-- <div class="main-center"></div> -->
  <!-- ? Link JS -->
  <script src="../static/js/script.js"></script>
</body>

</html>